name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']
    branches-ignore: [main]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Haskell
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
          stack-version: 3.7.1
          stack-setup-ghc: true

      - name: Build
        run: stack build

      - name: Build test executable
        run: stack build :test-net

      - name: Run test suite
        run: stack exec test-net

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Haskell
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
          stack-version: 3.7.1
          stack-setup-ghc: true

      - name: Build
        run: stack build

      - name: Build test executable
        run: stack build :test-net

      - name: Run test suite
        run: stack exec test-net
